.header-blog-index
    background: $red-main
    padding: 40px
    text-align: center
    font-family: 'Open Sans'
    text-transform: uppercase
    box-shadow: 0px 5px 9px 0px rgba(black, 0.4)
    
    .blog-title
        color: white
        margin: 0
        letter-spacing: 5px

.post-list-wrap
    width: 100%
    margin: 100px 0 200px
    font-family: 'Open Sans'
    text-transform: uppercase
    
    .post-list
        max-width: 300px
        margin: 0 auto
        
        .post-link
            display: inline-block
            margin: 20px 0 5px
            color: $red-main
            letter-spacing: 3px
            font-weight: 700
            
            &:hover
                color: $darker-gray
        
        .post-date
            color: $lighter-gray
            margin: 0 0 20px
            letter-spacing: 1px
        
    .section-break
        width: 100%
