.about
    text-align: center
    padding-top: 100px
    
    h3
        font:
            size: 16px
            family: 'Open Sans'
            weight: 700
        text-transform: uppercase
        color: $darker-gray
        letter-spacing: 2px
        margin: 0
    
    .face-img
        +size(150px)
        border-radius: 50%
        margin: 40px 0
    
    .about-statement
        max-width: 740px
        margin: 0 auto
        
        p
            font:
                size: 20px
                weight: 400px
                family: 'Open Sans'
            color: $lighter-gray
            margin: 0 20px 100px
            line-height: 2
            
            strong
                color: $darker-gray
        