.header-home
    padding-top: 1px
    background: $red-main
    height: 400px
    text-align: center
    
    @media (max-width: 650px)
        height: auto
        padding-bottom: 1px
    
    .logo
        +hide-text
        display: block
        background:
            image: url(/assets/img/Derrick-Farris-Logo2.svg)
            repeat: no-repeat
            position: center
            size: contain
        height: 180px
        padding: 0
        margin: 40px 0
        
    .kicker
        text-align: center
        color: white
        font:
            family: 'Open Sans'
            weight: 400
            size: 12px
        text-transform: uppercase
        letter-spacing: 5px
        margin-bottom: 40px
        
        @media (max-width: 390px)
            font-size: 12px
            letter-spacing: 3px
        
        @media (max-width: 340px)
            letter-spacing: 2px
        
    hr
        height: 10px
        background: white
        margin: 0 auto 30px
        padding: 0
        width: 300px
    
    .home-nav
        @media (max-width: 960px)
            white-space: nowrap
            display: flex
            justify-content: center
            align-items: space-between
            
        @media (max-width: 650px)
            display: none
            
        .nav-tab
            
            @media (max-width: 960px)
                margin-right: 0px
                max-width: 226px