.blog
    padding: 100px 0
    text-align: center
    
    h3
        font:
            family: 'Open Sans'
            size: 16px
            weight: 700
        text-transform: uppercase
        letter-spacing: 2px
        margin: 0
        
    .blog-wrap
        display: flex
        width: 100%
        flex-direction: column
        line-height: 2
        font-family: 'Open Sans'
        
        .latest-post-wrap
        
            .latest-post
                background: $red-main
                padding: 30px 0 60px
                margin: 50px auto 0
                box-shadow: 0px 6px 9px 0px rgba(black, 0.4)
                
                .post-date
                    color: white
                    font-size: 18px
                    text-transform: uppercase
                    margin: 0 0 40px
                    letter-spacing: 2px
        
                article
                    color: white
                    font-size: 18px
                    margin: 0 auto
                    padding: 0 60px
                    text-align: justify
                    max-width: 850px                 
                    
                    p
                        margin-bottom: 60px
                
                a
                    display: inline-block
                    background: white
                    color: $red-main
                    font:
                        size: 25px
                        weight: 700
                    padding: 15px 30px
                    margin: 0
                    box-shadow: 0px 6px 9px 0px rgba(black, 0.4)
                    transition: all 150ms ease-in-out
                    
                    &:hover
                        box-shadow: 0px 8px 9px 0px rgba(black, 0.5)

        h4
            font:
                size: 18px
                weight: 700
            text-transform: uppercase
            letter-spacing: 2px
            margin: 50px 0 30px
            color: $darker-gray
        
            &.first-sub-heading
                margin: 0 0 30px
            
        h2
            font:
                weight: 700
                size: 30px
            text-transform: uppercase
            color: white
            letter-spacing: 5px
            margin: 30px 0 20px
            text-align: center
            
        .other-recent-posts-wrap
            margin-top: 40px

            .other-recent-posts
                list-style-type: none
                width: 100%
                text-align: center
                padding: 0
                margin: 0
                    
                a
                    color: $red-main
                    font-weight: 700

                    &:hover
                        color: $darker-gray
                

        .all-posts
            font:
                family: 'Open Sans'
                size: 18px
                weight: 700
            background: $red-main
            text-transform: uppercase
            color: white
            margin: 60px auto 0
            padding: 0 30px
            line-height: 4
            box-shadow: 0px 6px 9px 0px rgba(black, 0.4)
            transition: all 150ms ease-in-out
            
            &:hover
                box-shadow: 0px 9px 9px 0px rgba(black, 0.5)
                

            
        