---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Derrick Farris: Web Designer, Programmer, and Instructor">
  <meta rel="author" href="{{ site.linkedin }}">
  <meta rel="publisher" href="{{ site.linkedin }}">

  <title>{{ site.title }}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/css/main.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="assets/js/functions.js"></script>
</head>
<body>
    {% include home-mobile-nav.html %}
    {% include home-header.html %}
    {% include home-about.html %}
    <hr class="section-break">
    {% include home-work.html %}
    <hr class="section-break">
    {% include home-resume.html %}
    <hr class="section-break">
    {% include home-contact.html %}
    {% include home-footer.html %}
  {% include google-analytics.html %}
  {% include style-scripts.html %}
</body>
</html>
