
<section class="work">
  <h3 id="work">Work</h3>
  <div class="work-wrap container">
    <div class="row">
      {% for project in site.data.projects %}
        <div class="col-md-12 project-thumb">
          <h4 class="project-name">{{ project.name }}</h4>
          <figure class="figure">
            <a href="{{ project.url }}"><img src="assets/img/{{ project.img }}" class="figure-img img-fluid rounded" alt="{{ project.img-alt }}"></a>
            <figcaption class="figure-caption">{{ project.description }}</figcaption>
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>
</section>