
<section class="contact">
  <h3 id="contact">Contact</h3>
  <div class="links-wrap"><a href="{{ site.linkedin }}" class="button link linkedin-link"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a><a href="{{ site.github }}" class="button link github-link"><i class="fa fa-github" aria-hidden="true"></i> Github</a><a href="{{ site.youtube }}" class="button link youtube-link"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a><a href="{{ site.facebook }}" class="button link facebook-link"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></div>
  <hr class="short-break"/><a href="mailto:{{ site.email }}" class="email">{{ site.email }}</a>
</section>