<section class="world-citizen generic-text">
    <h3 id="world-citizen">Project World Citizen</h3>
    <div class="citizen-wrap wrap">
        <p class="citizen-tagline">
            ... Which is why I've decided to start something I call <strong>'Project World Citizen'.</strong>
        </p>
        <p>
            Project World Citizen will be dedicated to connecting the world, not only digitally, but also physically. 
            Too many people in the world do not know the importance of travel in understanding both the world and the people around us.
        </p>
        <p>
            The project will aim to promote and facilitate world travel and inspire others to be more involved 
            in the global community, as well as provide opportunities to do so, irrespective of finances.
        </p>
        <img src="assets/img/group-shot.jpg">
        <p>
            <strong>Through this project, I hope to help others have life-changing experiences similar to the one I had and create a community around making that happen.</strong>
        </p>
    </div>
</section>