<section class="travel generic-text">
    <h3 id="travel">Travel</h3>
    <div class="travel-wrap wrap">
        <p>A few years ago, I traveled outside of the country for the first time ever during a 6-month internship abroad with Tata Consultancy Services.</p>
        <img class="generic-thumb" src="assets/img/hyd-sign.jpg" alt="An airport sign saying 'Welcome to Hyderabad'">
        <p>
            I landed in Hyderabad, India at 2 in the morning after a 22-hour journey. At that moment, my life changed forever.
            I realized that there is much more to life than what we experience in our immediate surroundings: <strong>there's a whole world
            out there that you can't know from the comfort of your home.</strong>
        </p>
        <img class="generic-thumb" src="assets/img/fashion-show.jpg" alt="A group photo from an Indo-Western fashion show.">
        <p>
            During my journey, I met some amazing people and learned a lot about the world and even more about myself. For that reason, I count this
            experience as one of the most important of my entire life...
        </p>
    </div>
</section>