nav.blog-nav
    h1.logo Derrick Farris
    a.home-return.button(href="/") Site Home
    a.blog-index-return.button(href="/blog") Blog Index
    div.copyright-wrap
        p.copyright Copyright &copy; 2016 Derrick Farris