section.blog
    h3#blog Blog
    div.blog-wrap
        div.latest-post-wrap
            div.latest-post.
                {% for post in site.posts reversed limit:1 %}
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div>
                    <article>{{ post.excerpt }}</article>
                    <a href="{{ post.url }}" class="post-link">Click here to keep reading ...</a>
                {% endfor %}
        div.other-recent-posts-wrap
            h4 Other Recent Posts
            ul.other-recent-posts.
                {% for post in site.posts limit:5 offset:1 %}
                    <li>
                        <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>
                    </li>
                {% endfor %}
        a.all-posts(href="blog") Click here to view all posts
        