footer.footer-home
    img.logo-footer(src="/assets/img/Derrick-Farris-Logo2.svg", alt="Derrick Farris Logo")
    nav.home-footer-nav
        a.nav-tab-footer.button(href="#about") About
        a.nav-tab-footer.button(href="#work") Work
        a.nav-tab-footer.button(href="#blog") Blog
    p.copyright Copyright &copy; 2016 Derrick Farris