section.contact
    h3#contact Contact
    div.links-wrap
        a.button.link.linkedin-link(href="{{ site.linkedin }}"). 
            <i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn
        a.button.link.github-link(href="{{ site.github }}"). 
            <i class="fa fa-github" aria-hidden="true"></i> Github
        a.button.link.youtube-link(href="").
            <i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube
        a.button.link.facebook-link(href="").
            <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
    hr.short-break
    a.email(href="mailto:{{ site.email }}") {{ site.email }}