section.work
    h3#work Work
    div.work-wrap
        div.top-nodes-wrap.retract-wrap
            div.node.top-node1.outer-node(data-folder="/work/work-designing", data-file="work-designing.html")
                h4 Designing
            div.node.top-node2.outer-node(data-folder="/work/work-coding", data-file="work-coding.html")
                h4 Coding
        div.top-connectors-wrap
            div.connector.top-connector
            div.connector.top-connector
        div.node.center-node.face-node
            h4 Derrick
        div.connector.bottom-connector
        div.bottom-node-wrap.retract-wrap
            div.node.bottom-node.outer-node(data-folder="/work/work-teaching", data-file="work-teaching.html")
                h4 Teaching
        