header.header-home
    h1.logo Derrick Farris
    hr
    p.kicker Designer // Programmer // Teacher
    nav.home-nav
        a.nav-tab.button(href="#about") About
        a.nav-tab.button(href="#work") Work
        a.nav-tab.button(href="#blog") Blog
        a.nav-tab.button(href="#contact") Contact