div.button.mobile-nav-toggle
    span 
nav.mobile-nav-home
    a.nav-tab.button(href="#about") About
    a.nav-tab.button(href="#work") Work
    a.nav-tab.button(href="#blog") Blog
    a.nav-tab.button(href="#contact") Contact
    