section.about
    h3#about About Me
    img.face-img(src="/assets/img/hall-mirror-cropped.jpg", alt="Derrick")
    div.about-statement
        p.     
            <strong>Cow pig spare tenderloin.</strong> Ham round cow round, kevin pancetta bregenwurst, pig 
            biltong pig landjaeger, ham steak bierschinken, tip t-bone corned tip venison, 
            turducken tip jowl, chicken ham doner meatball pig sausage bregenwurst ham 
            turducken. Ham pork kielbasa pancetta, tongue chicken sopressata, pancetta belly 
            pork andouille ground ham tip ham bierschinken, boudin porchetta braunschweiger, 
            andouille cow kevin biltong pig pancetta tip salami, ham belly venison 
            frankfurter. Fatback tail sirloin pastrami, hamburger ham chop, cow pig short 
            hock steak, venison corned loin tip jowl. Cow ham bregenwurst. Venison steak 
            shoulder shoulder. Pig cow corned bresaola.